*{margin: 0; padding: 0; box-sizing: border-box; user-select: none;}
body{background: rgb(49, 121, 186);}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
i{color: #000;}
.flex{display: flex;}
.grid{display: grid;}
.none{display: none;}

#root{position: relative;}


header{width: 100%; height: 50px; line-height: 50px; padding: 0 50px; background: #eee; justify-content: flex-end; align-items: center; gap: 20px;}
header button{border: none; height: 35px; padding: 2px 5px; border-radius: 5px; outline: none; cursor: pointer; transition: .3s;}
header button:hover{background: #333; color: #fff; transition: .3s;}
header button:hover a{color: #fff; transition: .3s;}

.container{padding: 15px 10px; align-items: flex-start;}
.container .plus{width: 25px; height: 25px; line-height: 21px; text-align: center; font-size: 30px; margin: 0 3px;}

.container .add_list{width: 300px; min-width: 300px; height: 45px; padding: 3px 10px; margin: 5px; background: rgb(98, 153, 203); color: #fff; font-size: 18px; border-radius: 5px; align-items: center; cursor: pointer; transition: .5s;} 
.container .add_list:hover{background: rgb(73, 122, 168); transition: .5s;}


.container .list{width: 300px; min-width: 300px; background: rgb(235, 236, 240); padding: 10px 0px; margin: 5px; border-radius: 5px;}
.container .list .title{line-height: 50px; padding: 0px 10px; justify-content: space-between; align-items: center;}
.container .list .title h3{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.container .list .title .menu {width: 40px; height: 40px;}
.container .list .title .menu .list_delete{width: 100%; height: 100%; line-height: 40px; text-align: center; border-radius: 100%; font-size: 23px; cursor: pointer; color: #495057;}
.container .list .title .menu .list_delete:hover{background: #ddd;}


.container .list .cards{width: 95%; margin: 10px auto; flex-direction: column; gap: 10px;}
.container .list .cards .card{width: calc(300px/100*95); padding: 5px 10px; flex-direction: column; background: #fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer;}
.container .list .cards .card h3{width: 100%; margin: 5px 0; line-height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.container .list .cards .card .photo{width: 100%; height: 150px;}
.container .list .cards .card .photo img{width: 100%; height: 100%; object-fit: cover;}
.container .list .cards .card:hover{background: rgb(230, 230, 230);}
.container .list .add_card{position: relative; width: 100%; height: 45px; color: rgb(97, 109, 130); font-weight: 700; padding: 3px 10px; border-radius: 5px; font-size: 18px; align-items: center; cursor: pointer; z-index: 5; transition: .5s;}
.container .list .add_card:hover{background: rgb(216, 217, 221); transition: .5s;}
.container .list .add_card i{position: absolute; right: 0; font-size: 20px; margin: 5px 15px; top: 50%; transform: translateY(-50%);}


.popup{position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, .3); justify-content: center; align-items: center; z-index: 100;}
.popup .title{padding: 5px;}
.popup .title h3{width: 95%; line-height: 50px; font-size: 27px; color: rgb(90, 104, 237);}
.popup .btns{width: 100%; margin: 5px 0; justify-content: center; gap: 10px;}
.popup .btns .btn{width: 40%; height: 45px; background: #eee; border: none; font-size: 15px; border-radius: 5px; cursor: pointer;}
.popup .btns .close{transition: .3s;}
.popup .btns .submit_btn{background: rgb(90, 104, 237); color: #fff; transition: .3s;}

.popup .btns .close:hover{background: rgb(231, 231, 231); transition: .3s;}
.popup .btns .submit_btn:hover{background: rgb(50, 67, 219); transition: .3s;} 
 
/* 리스트 추가하는 팝업 */

.popup .insert_list_popup{width: 350px; height: 200px; margin-bottom: 220px; padding: 20px 15px; background: #fff; border-radius: 7px; flex-direction: column; justify-content: space-between;}
.popup .insert_list_popup .list_title{border: none; outline: none; padding: 5px 10px; line-height: 45px; font-size: 18px;}

/* 카트 추가하는 팝업 */
.popup .insert_card_popup{width: 370px; height: 230px; padding: 20px; border-radius: 7px; background: #fff; flex-direction: column;}
.popup .insert_card_popup .text_title{font-size: 20px; height: 120px; padding: 5px; resize: none; outline: none; border: none; margin: 20px 0 10px 0;}

/* 카드 팝업 */
.popup .card_popup{width: 400px; height: 550px; padding: 20px 15px; border-radius: 10px; background: #fff; flex-direction: column;}
.popup .card_popup .title{width: 100%; line-height: 40px; padding: 5px 0; justify-content: space-between;}
.popup .card_popup .title .card_title{width: 100%; height: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.popup .card_popup .title .card_title_ipt{width: 100%; height: 100%; font-size: 27px; color: rgb(90, 104, 237); outline: none; border: none; font-weight: bold;}
.popup .card_popup .title .card_delete{width: 80px; height: 35px; cursor: pointer;}
.popup .card_popup .photo{width: 95%; height: 200px; overflow: hidden; margin: 5px auto; border: 1px solid #000; border-radius: 5px;}
.popup .card_popup .photo img{width: 100%; height: 100%; object-fit: cover;}

.popup .card_popup .img_btn{padding: 5px; line-height: 40px; align-items: center; align-items: center;}
.popup .card_popup .img_btn input{height: 25px; line-height: 25px;}
.popup .card_popup .insert_img_btn{width: 85px; padding: 0 10px; margin-right: 5px;}
.popup .card_popup .text_content{width: 100%; height: 100px; margin: 10px 0;}
.popup .card_popup .card_text_content{width: 100%; height: 100%; font-size: 15px; padding: 5px; resize: none; outline: none; border: none;}
.popup .card_popup .card_text_content_ipt{width: 100%; font-size: 15px; padding: 5px; border: none; outline: none;}


.popup .btns .card_delete{background: rgb(90, 104, 237); color: #fff; transition: .3s;}
.popup .btns .card_delete:hover{background: rgb(50, 67, 219); transition: .3s;}


/* 회원가입 팝업 */
.popup .join_popup{width: 400px; height: 500px; padding: 20px 15px; border-radius: 10px; background: #fff; flex-direction: column;}
.popup .join_popup .title{width: 100%; line-height: 50px; padding: 5px 20px;}

.popup .join_popup .content{width: 90%; margin: 0 auto; flex-direction: column;}
.popup .join_popup .content p{margin-bottom: 5px; font-size: 17px;}
.popup .join_popup .content input{line-height: 35px; padding: 5px 10px; font-size: 17px;}

.popup .btns .join_btn{background: rgb(90, 104, 237); color: #fff; transition: .3s;}
.popup .btns .join_btn:hover{background: rgb(50, 67, 219); transition: .3s;} 

/* 로그인 팝업 */
.popup .login_popup{width: 400px; height: 350px; padding: 20px 15px; border-radius: 10px; background: #fff; flex-direction: column;}
.popup .login_popup .title{width: 100%; line-height: 50px; padding: 5px 20px;}

.popup .login_popup .content{width: 90%; margin: 0 auto; flex-direction: column;}
.popup .login_popup .content p{margin-bottom: 5px; font-size: 17px;}
.popup .login_popup .content input{line-height: 35px; padding: 5px 10px; font-size: 17px;}

.popup .btns .login_btn{background: rgb(90, 104, 237); color: #fff; transition: .3s;}
.popup .btns .login_btn:hover{background: rgb(50, 67, 219); transition: .3s;} 




.high{background: #ddd;}
.cardPla{background: #ddd;}
.card{padding: 5px 10px; flex-direction: column; background: #fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer;}
.card h3{width: 100%; margin: 5px 0; line-height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.card .photo{width: 100%; height: 150px;}
.card .photo img{width: 100%; height: 100%; object-fit: cover;}